<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magexo_MemberCard::magexo_membercard_membercard" title="Member Cards" module="Magexo_MemberCard" sortOrder="9999" resource="Magento_Backend::content" parent="Magento_Customer::customer" action="magexo_membercard/membercard/index"/>
	</menu>
</config>
